<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="category">
    	
    	   <select id="majorCategory" resultType="majorCategoryDto">
   	
   	select * from major_category order by major_category_name asc
   
   </select>
   
   <select id="minorCategory" resultType="minorCategoryDto">
   
   	select * from minor_category 
   	where major_category_no=#{majorCategoryNo}
   	 order by minor_category_name asc
   
   </select>
   
   <select id="majorFind" resultType="majorCategoryDto">
    	
    	SELECT Ma.* FROM MAJOR_CATEGORY ma JOIN MINOR_CATEGORY mi 
		ON mi.Major_CATEGORY_NO = ma.MAJOR_CATEGORY_no 
			WHERE mi.MINOR_CATEGORY_NO  = #{minorNo}
    </select>
    
    <select id="selectOneMajor" resultType="MinorCategoryDto">
    	select * from minor_category where minor_category_no = #{minorCategoryNo}
    </select>
    
    
    
    
    
    
    
    </mapper>