<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatRoom">

	<select id="sequence" resultType="int">
	select chat_room_seq.nextval from dual
	</select>

	<insert id="add">
		insert into chat_room(
		chat_room_no
		) values(
		#{chatRoomNo}
		)
	</insert>
	
	<select id="allList" resultType="ChatRoomDto">
		select * from chat_room order by chat_room_no asc
	</select>
	
	<select id="find" resultType="ChatRoomDto">
	SELECT cr.chat_room_no
	FROM chat_room cr
	INNER JOIN club c ON c.chat_room_no = cr.chat_room_no
	INNER JOIN club_member cm ON c.club_no = cm.club_no
	WHERE cm.club_member_id = #{memberId}
	</select>
	
	<select id="find2" resultType="int">
	SELECT cr.chat_room_no
	FROM chat_room cr
	INNER JOIN club c ON c.chat_room_no = cr.chat_room_no
	INNER JOIN club_member cm ON c.club_no = cm.club_no
	WHERE cm.club_member_id = #{memberId}
</select>

	<select id="roomList" resultType="ChatListVO">
		 SELECT
           cr.chat_room_no AS chatRoomNo,
           c.club_no AS clubNo,
           c.club_name AS clubName,
           c.club_explain AS clubExplain
        FROM chat_room cr
        INNER JOIN club c ON c.chat_room_no = cr.chat_room_no
        WHERE cr.chat_room_no = #{chatRoomNo}
	</select>

	<select id="roomMemberList" resultType="ChatRoomDto">
	SELECT cm.club_member_id
	FROM club c
	JOIN club_member cm ON c.club_no = cm.club_no
	WHERE c.chat_room_no = #{chatRoomNo}
	</select>
	
	
	<select id="roomMemberName" resultType="ChatVO">
	SELECT cm.CLUB_MEMBER_ID, m.member_name
	FROM club c
	JOIN club_member cm ON c.club_no = cm.club_no
	JOIN member m ON cm.club_member_id = m.member_id
	WHERE c.chat_room_no = #{chatRoomNo}
	</select>
	
	<select id="roomMemberProfile" resultType="MemberDto">
	SELECT m.member_id, m.member_name, m.member_level
	FROM member m
	</select>
	
	 <!-- 이미 존재하는 1:1 채팅 룸 조회 -->
    <select id="getExistingChatRoom" resultType="ChatDto">
        SELECT chat_room_no
        FROM chat
        WHERE (chat_sender = #{chatSender} AND chat_receiver = #{chatReceiver})
        OR (chat_sender = #{chatReceiver} AND chat_receiver = #{chatSender})
    </select>
    
     <!-- 동호회 회원 목록을 가져오기 위한 조회 -->
    <select id="roomMemberListDetail" resultType="ChatMemberListVO">
    SELECT
    cm.CLUB_MEMBER_ID,
    m.MEMBER_NAME,
    cm.CLUB_MEMBER_RANK,
    c.CHAT_ROOM_NO,
    c.CLUB_NO
	FROM
	    club_member cm
	JOIN
	    club c ON cm.CLUB_NO = c.CLUB_NO
	JOIN
	    chat_room cr ON c.CHAT_ROOM_NO = cr.CHAT_ROOM_NO
	JOIN
	    member m ON cm.CLUB_MEMBER_ID = m.MEMBER_ID
	WHERE
	    cr.CHAT_ROOM_NO = #{chatRoomNo}
    </select>
    
    <!-- 1:1 회원 목록을 가져오기 위한 조회 -->
    <select id="chatOneMemberListDetail" resultType="ChatOneMemberListVO">
    SELECT
    co.CHAT_SENDER,
    sender.MEMBER_NAME AS SENDER_NAME,
    sender.MEMBER_LEVEL AS SENDER_LEVEL,
    co.CHAT_RECEIVER,
    receiver.MEMBER_NAME AS RECEIVER_NAME,
    receiver.MEMBER_LEVEL AS RECEIVER_LEVEL,
    co.CHAT_ROOM_NO
FROM
    chat_one co
LEFT JOIN
    member sender ON co.CHAT_SENDER = sender.MEMBER_ID
LEFT JOIN
    member receiver ON co.CHAT_RECEIVER = receiver.MEMBER_ID
WHERE
    co.CHAT_ROOM_NO = #{chatRoomNo}
    </select>
    
</mapper>