<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chat">
	
	<insert id="add">
	insert into chat(
	chat_no,
	chat_room_no,
	chat_sender,
	chat_receiver,
	chat_content,
	attach_no
	) 
	values(
	chat_seq.nextval,
	#{chatRoomNo},
	#{chatSender},
	#{chatReceiver},
	#{chatContent},
	#{attachNo}
	)
	</insert>
	
	<select id="allList" resultType="ChatDto">
		select * from chat order by chat_no asc
	</select>
	
	<select id="getChatHistory" resultType="ChatDto">
    SELECT *
    FROM chat
    WHERE chat_room_no = #{chatRoomNo}
    ORDER BY chat_time asc
</select>

<select id="chatLastMsg" resultType="ChatDto">
select CHAT_CONTENT  from 
(
	select CHAT_CONTENT
	from CHAT
	WHERE CHAT_ROOM_NO = #{chatRoomNo}
	order BY CHAT_TIME  DESC
)
WHERE rownum = 1
</select>

<select id="getChatHistoryDetail" resultType="ChatDto">
SELECT cm.CLUB_MEMBER_NO, cm.CLUB_NO, cm.CLUB_MEMBER_RANK, cm.JOIN_DATE , club.chat_room_no, chat.CHAT_NO, 
chat.CHAT_SENDER, chat.CHAT_RECEIVER, chat.CHAT_CONTENT, chat.CHAT_TIME, chat.ATTACH_NO
FROM club_member cm
JOIN club ON cm.club_no = club.club_no
JOIN chat ON club.chat_room_no = chat.chat_room_no
WHERE chat.chat_room_no = #{chatRoomNo} AND chat.chat_time >= cm.JOIN_DATE AND cm.CLUB_MEMBER_ID = #{chatSender}
ORDER BY chat.chat_time ASC
</select>

</mapper>