<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatOne">
	
	<insert id="add">
		insert into chat_one(
		chat_room_no,
		chat_sender,
		chat_receiver
		) values(
		#{chatRoomNo},
		#{chatSender},
		#{chatReceiver}
		)
	</insert>
	
    <select id="getExistingChatRoom" resultType="ChatOneDto">
        SELECT chat_room_no
        FROM chat_one
        WHERE (chat_sender = #{chatSender} AND chat_receiver = #{chatReceiver})
        OR (chat_sender = #{chatReceiver} AND chat_receiver = #{chatSender})
    </select>
    
    <select id="roomList" resultType="ChatOneDto">
   SELECT * FROM chat_one WHERE chat_sender = #{chatSender} OR chat_receiver = #{chatReceiver}
    </select>
    
     <select id="roomList2" resultType="ChatOneMemberVO">
  SELECT DISTINCT co.*, 
       sender_attach_no.attach_no AS sender_attach_no,
       receiver_attach_no.attach_no AS receiver_attach_no
	FROM chat_one co
	LEFT JOIN member_profile sender_attach_no ON sender_attach_no.member_id = co.chat_sender
	LEFT JOIN member_profile receiver_attach_no ON receiver_attach_no.member_id = co.chat_receiver
	WHERE co.chat_sender = #{chatSender}  OR co.chat_receiver = #{chatReceiver}
    </select>
    
    <select id="oneChatMemberInfo" resultType="ChatOneDto">
    SELECT c.*, m.member_name, m.member_level
	FROM chat_one c
	JOIN member m ON (c.chat_sender = m.member_id OR c.chat_receiver = m.member_id)
	WHERE c.chat_sender = #{chatSender} OR c.chat_receiver = #{chatReceiver}
    </select>

	<select id="oneChatMemberList" resultType="ChatOneVO">
	SELECT c.*, m.member_name, m.member_level
	FROM chat_one c
	JOIN member m ON (c.chat_sender = m.member_id OR c.chat_receiver = m.member_id)
	WHERE c.CHAT_ROOM_NO = #{chatRoomNo}
	</select>
	
	<select id="oneChatMemberName" resultType="ChatOneVO">
	SELECT m.member_id, m.member_name, m.member_level
	FROM chat_one c
	JOIN member m ON (c.chat_sender = m.member_id OR c.chat_receiver = m.member_id)
	WHERE c.CHAT_ROOM_NO = #{chatRoomNo}
	</select>

	<select id="oneChatHistory" resultType="ChatDto">
	SELECT chat.*
	FROM chat
	JOIN CHAT_ONE ON chat.CHAT_ROOM_NO = CHAT_ONE.CHAT_ROOM_NO
	WHERE CHAT_ONE.CHAT_ROOM_NO = #{chatRoomNo}
	order by chat_time
	</select>
	
	<select id="isOnechatRoomMember" resultType="int" parameterType="map">
	SELECT COUNT(*)
	FROM chat_one co
	WHERE co.chat_room_no = #{chatRoomNo}
	AND (co.chat_sender = #{memberId} OR co.chat_receiver = #{memberId})
	</select>

</mapper>