<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="clubBoard">
	<select id="sequence" resultType="int">
		select club_board_seq.nextval from dual
	</select>
	
	<insert id="add">
		insert into club_board
		(
			club_board_no, club_board_title, club_board_content, club_board_category,
			club_member_no, club_no, club_board_name, club_board_fix
		) 
		values
		(
			club_board_no_seq.nextval, #{clubBoardTitle}, #{clubBoardContent}, #{clubBoardCategory},
			#{clubMemberNo}, #{clubNo}, #{clubBoardName}, #{clubBoardFix}
		)
	</insert>
	
	<select id="list" resultType="clubBoardDto">
		select * from club_board 
		<where>
			<if test="clubBoardCategory == '자유'">
				and club_board_category=#{clubBoardCategory}
			</if>	
			<if test="clubBoardCategory == '관심사'">
				and club_board_category=#{clubBoardCategory}
			</if>	
			<if test="clubBoardCategory == '모임후기'">
				and club_board_category=#{clubBoardCategory}
			</if>	
			<if test="clubBoardCategory == '가입인사'">
				and club_board_category=#{clubBoardCategory}
			</if>	
			<if test="clubBoardCategory == '공지사항'">
				and club_board_category=#{clubBoardCategory}
			</if>	
		</where>
		order by club_board_no desc
	</select>

	<update id="editUnit">
		update book
		<set>
			<if test="clubBoardCategory != null">
				club_board_category = #{clubBoardDto.clubBoardCategory}
			</if>
			<if test="clubBoardTitle != null">
				club_board_category = #{clubBoardDto.clubBoardCategory}
			</if>
			<if test="clubBoardContent != null">
				club_board_category = #{clubBoardDto.clubBoardCategory}
			</if>
		</set>
		where club_board_no = #{club_board_no}
	</update>
	

	<select id="findClubMemberNo" resultType="clubMemberDto">
		select club_member_no from club_member where club_no = #{clubNo} and club_member_id = #{clubMemberId}
	</select>
	
	<select id="selectListByPage" resultType="clubBoardAllDto">
		select * from (
			select rownum rn, TMP.* from (
				select * from club_board_all where club_no = #{clubNo}
			) TMP
		) where rn between #{begin} and #{end}
	</select>
	
	<select id="find" resultType="clubBoardDto">
		select * from club_board where club_board_no = #{clubBoardNo}
	</select>
	
	</mapper>