<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="clubMember">
    
    
    <select id="sequence" resultType="int">
    	
    select club_member_seq.nextval from dual
    	
    
    </select>
    

    <select id="chatRoomClubMembers" resultType="ClubMemberDto">
    SELECT cm.club_member_id
	FROM club_member cm
	INNER JOIN club c ON cm.club_no = c.club_no
	INNER JOIN chat_room cr ON c.chat_room_no = cr.chat_room_no
	WHERE c.club_no = #{clubNo} AND cr.chat_room_no = #{chatRoomNo}

    </select>

    	<insert id="add">
    			
    	insert into club_member(club_member_no,club_member_id,
    	club_no,club_member_rank,join_message) 
    	values(#{clubMemberNo},#{clubMemberId},
    	#{clubNo},#{clubMemberRank},#{joinMessage})

    	</insert>
    	
    	<select id="detail" resultType="clubMemberDto">
    		
    		select * from club_member where club_member_no=#{clubMemberNo}
    		
    	</select>
    	
    	<select id="findJoinMember" resultType="clubMemberDto">
    	 
    	 select * from club_member where club_no=#{clubNo} and club_member_id=#{memberId}
    	 
    	</select>
    	
    	<select id="clubMemberList" resultType="clubMemberDto">
    		
    		select * from club_member where club_no=#{clubNo}
    	
    	</select>
    	
    	<select id="memberInfo" resultType="clubMemberVO">
    		
    		SELECT m.member_id,
    		m.member_name,
    		cm.club_member_no,
    		cm.club_member_rank,
    		cm.join_message,
    		cm.join_date,
    		a.attach_no 
    		FROM club_member cm JOIN MEMBER m 
    		ON m.MEMBER_ID=cm.CLUB_MEMBER_ID 
    		left outer join member_profile mp 
    		on m.member_id=mp.member_Id
    		left outer join attach a 
    		on mp.attach_no = a.attach_no
    		WHERE cm.CLUB_NO=#{clubNo}
    	
    	</select>
    	
    	 <select id="count" resultType="int">
    	
    	select count(*) from club_member where club_no=#{clubNo}
    
    </select>
    
    <select id="memberRank" resultType="String">
    	
    	SELECT club_member_rank FROM club_member WHERE club_no=#{clubNo} AND club_member_id=#{clubMemberId}
    
    </select>
    
    <select id="findClubMemberNo" resultType="int">
    	
    	select club_member_no from club_member where club_no=#{clubNo} and club_member_id=#{memberId}
    
    </select>
    
    <select id="memberLevel" resultType="String">
    
    	select club_member_rank from club_member where club_member_no=#{clubMemberNo}
    </select>
    
    <!-- <select id="findMemberId" resultType="String">	
    	
    	select club_member_id from club_member where club_member_no = #{clubMemberNo}
    
    </select> -->
    
    <select id="meetingAttendMember" resultType="meetingAttendMemberVO">
    
    SELECT a.attach_no,mm.meeting_no,cm.club_member_no,cm.club_member_id,cm.club_member_rank FROM 
    meeting_member mm JOIN 
    club_member cm ON 
    mm.CLUB_MEMBER_NO = cm.CLUB_MEMBER_NO 
    left outer join member_profile mp on cm.club_member_id = mp.member_id
    left outer join attach a on mp.attach_no = a.attach_no
    WHERE mm.MEETING_NO = #{meetingNo}
    </select>
    
    <update id="rankUpgrade">
    
    	update club_member set club_member_rank='운영진' 
    	where club_member_no=#{clubMemberNo}
    </update>
    
    <select id="findListByMemberId" resultType="HomeForClubVO">
	    select * from(
			select rownum rn, TMP.* from(
				select cm.club_no, cm.club_member_id, cm.join_date, c.club_name, ci.attach_no, cm.club_member_rank from
				club_member cm join club c on cm.club_no = c.club_no
				left outer join club_image ci on cm.club_no = ci.club_no
				where cm.club_member_id = #{memberId}
				order by cm.club_member_rank, cm.join_date desc
			)TMP
		)where rn between 1 and 12
    </select>
    
    
    
     
    
    </mapper>