<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="clubBoardImage">
	
	<insert id="add">
		insert into club_board_image(attach_no, club_board_no)
		values(#{attachNo}, #{clubBoardNo}) 
	</insert>
	
	<delete id="remove">
		delete club_board_image where club_board_no = #{clubBoardNo} 
	</delete>
	
	<select id="find">
		select *  from club_board_image where club_board_no = #{clubBoardNo}
	</select>
	
	<select id="findAll">
		select * from club_board_image order by club_board_image asc
	</select>

</mapper>    