<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="clubMember">
    

    <select id="chatRoomClubMembers" resultType="ClubMemberDto">
    SELECT cm.club_member_id
	FROM club_member cm
	INNER JOIN club c ON cm.club_no = c.club_no
	INNER JOIN chat_room cr ON c.chat_room_no = cr.chat_room_no
	WHERE c.club_no = #{clubNo} AND cr.chat_room_no = #{chatRoomNo}

    </select>

    	<insert id="add">
    			
    	insert into club_member(club_member_no,club_member_id,
    	club_no,club_member_rank) 
    	values(#{clubMemberNo},#{clubMemberId},#{clubNo},#{clubMemberRank})

    	</insert>
    	
    	<select id="detail">
    		
    		select * from club_member where club_member_no=#{clubMemberNo}
    		
    	</select>
    
    
    </mapper>