<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="clubBoardReply">
	
	<select id="sequence" resultType="int">
		select club_board_reply_seq.nextval from dual
	</select>
	
	<insert id="add">
		insert into club_board_reply(
			club_board_reply_no, club_board_reply_content, club_board_reply_writer, club_member_no, 
			club_board_no, club_board_reply_group, club_board_reply_depth, club_board_reply_parent
		)
		values(
			#{clubBoardReplyNo}, #{clubBoardReplyContent}, #{clubBoardReplyWriter}, #{clubMemberNo}, 
			#{clubBoardNo}, #{clubBoardReplyGroup}, #{clubBoardReplyDepth}, #{clubBoardReplyParent}
		)
	</insert>
	
	<select id="findAll" resultType="ClubBoardReplyDto">
		select * from club_board_reply where club_board_no = #{clubBoardNo} order by club_board_reply_no asc
	</select>
	
	<select id="find" resultType="ClubBoardReplyDto">
		select * from club_board_reply where club_board_reply_no = #{clubBoardReplyNo}
	</select>
	
	<delete id="remove">
		delete club_board_reply where club_board_reply_no = #{clubBoardReplyNo}
	</delete>
	
	<update id="edit">
		update club_board_reply set club_board_reply_content = #{clubBoardReplyContent} where club_board_reply_no = #{clubBoardReplyNo}
	</update>
	
	<!-- clubMemberNo 찾기 -->
	<select id="findClubMemberNo" resultType="ClubMemberDto">
		select * from club_member where club_no = #{clubNo} and club_member_id = #{clubMemberId}
	</select>
	
	<!-- 계층형 게시판 댓글 -->
	<select id="findByReply" resultType="ClubBoardReplyDto">
		select * from(
			select rownum rn, TMP.* from(
			
			SELECT * FROM club_board_reply
			where club_board_no = #{clubBoardNo}
			START WITH club_board_reply_parent IS NULL
			CONNECT BY PRIOR club_board_reply_no = club_board_reply_parent
			ORDER SIBLINGS by club_board_reply_group, club_board_reply_date
			
			)TMP
		)where rn between #{startRow} and #{finishRow}
	</select>
	
	<select id="replyCount" resultType="int">
		SELECT count(*) FROM club_board_reply where club_board_no = #{clubBoardNo}
	</select>
	
	<!-- 알림 비동기 부분 사용 -->
	<select id="clubBoardMemberAndReplyMember" resultType="ClubBoardReplyMemberVO">
		SELECT 
		    cm_reply.club_member_id AS reply_member_id,
		    cm_reply.club_member_no AS reply_member_no,
		    cm_board.club_member_id AS board_member_id,
		    cm_board.club_member_no AS board_member_no,
		    cb.club_board_title
		FROM 
		    club_member cm_reply
		JOIN 
		    CLUB_BOARD_REPLY cbr ON cbr.club_member_no = cm_reply.club_member_no
		JOIN 
		    club_board cb ON cb.club_board_no = cbr.club_board_no
		JOIN 
		    club_member cm_board ON cm_board.club_member_no = cb.club_member_no
		WHERE 
		    cbr.club_board_reply_no = #{clubBoardReplyNo}
	</select>
	
	<select id="selectReplyByMember" resultType="ClubBoardReplyDto">
		select * from club_board_reply 
		where club_member_no in (
		select club_member_no from club_member where club_member_id = #{memberId}
		)
	</select>
	
</mapper>  