<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="club">
    
    <insert id="add">
    
    insert into club(club_no,club_owner,club_category,zip_code_no,
    chat_room_no,club_name,club_explain,club_personnel) 
    values(#{clubNo},#{clubOwner},#{clubCategory},#{zipCodeNo},
    #{chatRoomNo},#{clubName},#{clubExplain},#{clubPersonnel})
    
    </insert>
    
    <select id="sequence" resultType="int">
    	select club_seq.nextval from dual
    	</select>
    	
   	<select id="allList" resultType="ClubDto">
   		select * from club where club_no = #{clubNo}
   	</select>

    <select id="find" resultType="ClubDto">
    SELECT c.club_no
	FROM club c
	INNER JOIN club_member cm ON c.club_no = cm.club_no
	WHERE cm.club_member_id = #{memberId}
    </select>
    
    <select id="clubDetail" resultType="ClubImageVO">
    	
    	select c.*,ci.attach_no from club c LEFT outer join club_image ci 
    	on c.club_no = ci.club_no LEFT OUTER join attach a
    	on ci.attach_no=a.attach_no where c.club_no=#{clubNo}  
    
    </select>
    
    <insert id="edit">
    
    update club set club_category=#{clubCategory},zip_code_no=#{zipCodeNo},
    club_name=#{clubName},club_explain=#{clubExplain},club_personnel=#{clubPersonnel},
    club_premium=#{clubPremium} where club_no=#{clubNo}
    
    </insert>
    
    <insert id="connect">
    	
    	insert into club_image(club_no,attach_no) values(#{clubNo},#{attachNo})
    
    </insert>
    
    <select id="findImage" resultType="attachDto">
    
    select * from attach where attach_no=(
    select attach_no from club_image where club_no=#{clubNo}
    )
    </select>
    
   <select id="clubList" resultType="ClubListVO">
   
   SELECT *  FROM Club c 
JOIN ZIP_CODE zc ON c.ZIP_CODE_NO =zc.ZIP_CODE_NO 
JOIN Minor_CATEGORY mi ON c.CLUB_CATEGORY = mi.MINOR_CATEGORY_NO 
JOIN MAJOR_CATEGORY ma ON mi.MAJOR_CATEGORY_NO = ma.MAJOR_CATEGORY_NO 
WHERE c.ZIP_CODE_NO IN(SELECT zip_code_no FROM ZIP_CODE WHERE SIdo in
(SELECT z.sido FROM 
MEMBER m JOIN ZIP_CODE z ON m.MEMBER_ADDR = z.ZIP_CODE_NO WHERE m.MEMBER_ID=#{memberId})
)
and ma.MAJOR_CATEGORY_NAME in(
SELECT ma.major_category_name FROM MAJOR_CATEGORY ma JOIN MINOR_CATEGORY mi ON ma.MAJOR_CATEGORY_NO =mi.MAJOR_CATEGORY_NO 
WHERE mi.MINOR_CATEGORY_NO IN (SELECT mc.like_category FROM MEMBER_CATEGORY mc JOIN MEMBER m ON mc.member_id = m.MEMBER_ID 
WHERE m.member_id=#{memberId})
)
   
   </select>
   
   <select id="majorClubList" resultType="ClubListVO">
   
   SELECT c.CLUB_NO,c.CLUB_NAME,c.CLUB_EXPLAIN,zc.SIGUNGU,ma.MAJOR_CATEGORY_NAME FROM Club c 
JOIN ZIP_CODE zc ON c.ZIP_CODE_NO =zc.ZIP_CODE_NO 
JOIN Minor_CATEGORY mi ON c.CLUB_CATEGORY = mi.MINOR_CATEGORY_NO 
JOIN MAJOR_CATEGORY ma ON mi.MAJOR_CATEGORY_NO = ma.MAJOR_CATEGORY_NO 
WHERE c.ZIP_CODE_NO IN(SELECT zip_code_no FROM ZIP_CODE WHERE SIdo in
(SELECT z.sido FROM 
MEMBER m JOIN ZIP_CODE z ON m.MEMBER_ADDR = z.ZIP_CODE_NO WHERE m.MEMBER_ID=#{memberId})
)
and ma.MAJOR_CATEGORY_NAME in(
SELECT major_category_name FROM MAJOR_CATEGORY WHERE major_category_no=#{majorCategoryNo})
   
   </select>
   
   <select id="minorClubList" resultType="ClubListVO">
    SELECT c.CLUB_NO,c.CLUB_NAME,c.CLUB_EXPLAIN,zc.SIGUNGU,zc.SIDO,ma.MAJOR_CATEGORY_NAME,mi.MINOR_CATEGORY_NAME,mi.MINOR_CATEGORY_NO FROM Club c 
JOIN ZIP_CODE zc ON c.ZIP_CODE_NO =zc.ZIP_CODE_NO 
JOIN Minor_CATEGORY mi ON c.CLUB_CATEGORY = mi.MINOR_CATEGORY_NO 
JOIN MAJOR_CATEGORY ma ON mi.MAJOR_CATEGORY_NO = ma.MAJOR_CATEGORY_NO 
WHERE c.ZIP_CODE_NO IN(SELECT zip_code_no FROM ZIP_CODE WHERE SIdo in
(SELECT z.sido FROM 
MEMBER m JOIN ZIP_CODE z ON m.MEMBER_ADDR = z.ZIP_CODE_NO WHERE m.MEMBER_ID='testuser1')
)
and mi.MINOR_CATEGORY_NO = #{minorCategoryNo}

    
    
    </select>
    
    
    
    
    </mapper>