<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="member">
    	
  		<insert id="join">
	   		insert into member(member_id, member_pw, member_name, member_email, member_contact, member_birth, member_level, member_addr)
		    values(#{memberId}, #{memberPw}, #{memberName}, #{memberEmail}, #{memberContact}, #{memberBirth, jdbcType=VARCHAR}, #{memberLevel}, #{memberAddr})
		</insert>
		
		<select id="memberListByNew" resultType="MemberDto">
			select * from member order by member_join asc
		</select>
		
		<select id="memberListByOld" resultType="MemberDto">
			select * from member order by member_join desc
		</select>
    	
    	<select id="loginId" resultType="MemberDto">
    		select * from member where member_id=#{memberId}
    	</select>
    	
    	<select id="memberFind" resultType="MemberDto">
    		select * from member where member_id=#{memberId}
    	</select>
    	
    	<select id="memberIdListByEmail" resultType="String">
    		select member_id from member where member_name=#{memberName} and member_email=#{memberEmail}
    	</select>
		
		<update id="changePw">
			update member set member_pw = #{memberPw} where member_id=#{memberId}
		</update>
		
		<update id="memberEdit">
			update member set member_name=#{memberName}, member_addr=#{memberAddr}, member_email=#{memberEmail}, member_contact=#{memberContact}, member_birth=#{memberBirth}
			where member_id = #{memberId}
		</update>
    </mapper>