<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="one">
	 
	 
	 <!-- 게시글 등록 -->
	 <insert id="insert">
	 	insert into one(
	 	one_no,one_member,one_level,one_title,one_content,one_status,
	 	one_category,one_group,one_depth,one_parent
	 	)
	 	values(
	 	one_seq.nextval,#{oneMember},#{oneLevel},#{oneTitle},#{oneContent}, 
	 	#{oneStatus},#{oneCategory},#{oneGroup},#{oneDepth},#{oneParent}
	 	)
	 </insert>
	 
	 <!-- 게시글 삭제 -->
	 	<delete id="delete">
	 		delete one where one_no = #{oneNo}
	 	</delete>
	 	
	 	<!-- 게시글 수정 -->
	 	<update id="edit">
	 		update one
	 		set
	 		one_title = #{oneDto.oneTitle},
	 		one_content = #{oneDto.oneContent}	
	 		where one_no = #{oneNo} 		
	 	</update>
	 	
	 	<!-- 게시글 목록 -->
	 	<select id="list" resultType="OneDto">
	 		select * from one order by one_no desc
	 	</select>
	 	
	 	<!-- 게시글 상세 -->
	 	<select id="find" resultType="OneDto">
	 		select * from one where one_no = #{oneNo}
	 	</select>
	 	
	 	<!-- 게시글 제목 검색 -->
	 	<select id="findByOneTitle" resultType="OneDto">
	 		select * from one where instr(one_title,#{oneTitle})>0
	 	</select>
	 	
	 	<!-- 게시글 아이디 검색 -->
	 	<select id="findByOneMember" resultType="OneDto">
	 		select * from one where instr(one_member,#{oneMember})>0
	 	</select>
	 	
	 	<!-- 페이지네이션 -->
	 	<select id="countList" resultType="OneDto">
	 	select * from (
          select rownum rn, TMP.* from(
            select * from one order by one_no desc
          )TMP
       )where rn between #{begin} and #{end}
	 	</select>
    </mapper>
    