<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="paymentRegular">
    	<select id="sequence" resultType="int">
    		select paymentRegular_seq.nextval from dual
    	</select>
    	
    	<!-- 결제 등록 -->
    	<insert id="insert">
    		insert into paymentRegular(
    			payment_regular_no,payment_regular_member,
    			payment_regular_tid,payment_regular_sid,
    			payment_regular_name,payment_regular_price,
    			payment_regular_remain
    			)
    			values(
    			#{paymentRegularNo},#{paymentRegularMember},
    			#{paymentRegularTid},#{paymentRegularSid},
    			#{paymentRegularName},#{paymentRegularPrice},
    			#{paymentRegularRemain}
    			)
    	</insert>
    	
    	<!-- 결제 상세등록 -->
    	<insert id="insertDetail">
    		insert into payment_detail (
			regular_detail_no, regular_detail_origin, regular_detail_product,
			regular_detail_product_name, regular_detail_product_price, regular_detail_status
    		)
    		values(
    		payment_detail_seq.nextval, 
			#{regularDetailOrigin}, #{regularDetailProduct}, #{regularDetailProductName},
			#{regularDetailProductPrice}, '활성화'
    		)
    		</insert>
    		<!-- 결제 대표 목록 -->
    		<select id="list" resultType="PaymentRegularDto">
    			select * from paymentRegular order by payment_regular_no asc
    		</select>
    		
    		<!-- 회원전체조회 -->
	    	 <select id="listAll" resultMap="paymentRegularListVO">
	    	select * from paymentRegular
	    	<if test="paymentMember != null">
	    	where payment_regular_member = #{paymentRegularMember}
	    	</if>
	    	order by payment_regular_no asc
	    	</select>
	    	
	    	<!-- 결제 상세정보를 조회(결제 대표번호별)  -->
    	<select id="listDetail" resultType="RegularDetailDto">
    		select * from regular_detail
    		where regular_detail_origin = #{regularDetailOrigin}
    		order by regular_detail_no asc
    	</select>
    	
    	<!-- payment 상세조회 -->
    	<select id="find" resultType="PaymentRegularDto">
    		select * from paymentRegular where payment_regular_no = #{paymentRegularNo}
    	</select>
    	
    	<!-- payment 잔여금액처리 -->
    	<update id="cancel">
    		update paymentRegular
    		 set payment_regular_remain = #{paymentRegularRemain}
    		where payment_regular_no = #{paymentRegularNo}
    	</update>
    	<!-- 특정 payment_regular_no에 속한 regular_detail에 대한 취소처리 -->
    	<update id="cancelDetailGroup">
    		update regular_detail
    		set regular_detail_status = '비활성화'
    		where regular_detail_origin = #{regularDetailOrigin}
    	</update>
    	
    	<resultMap type="PaymentRegularListVO" id="paymentRegularListVO">
    		<association property="paymentRegularDto">
    			<result column="payment_regular_no" property="paymentRegularNo"/>
    			<result column="payment_regular_member" property="paymentRegularMember"/>
    			<result column="payment_regular_tid" property="paymentRegularTid"/>
    			<result column="payment_regular_sid" property="paymentRegularsid"/>
    			<result column="payment_regular_name" property="paymentRegularName"/>
    			<result column="payment_regular_price" property="paymentRegularPrice"/>
    			<result column="payment_regular_remain" property="paymentRegularRemain"/>
    			<result column="payment_regular_time" property="paymentRegularTime"/>
    			<result column="payment_regular_begin" property="paymentRegularBegin"/>
    			<result column="payment_regular_end" property="paymentRegularEnd"/>
    		</association>
    		
    		<collection property="regularDetailList" select="listDetail" column="payment_regular_no"
    			javaType="java.util.List" ofType="PaymentRegularDto">
    			<result column="regular_detail_no" property="regularDetailNo"/>
    			<result column="regular_detail_origin" property="regularDetailOrigin"/>
    			<result column="regular_detail_product" property="regularDetailProduct"/>
    			<result column="regular_detail_product_name" property="regularDetailProductName"/>
    			<result column="regular_detail_product_price" property="regularDetailProductPrice"/>
    			<result column="regular_detail_product_qty" property="regularDetailProductQty"/>
    			<result column="regular_detail_status" property="regularDetailStatus"/>
    			</collection>
    	</resultMap>
    </mapper>