<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="paymentRegular">
    
    <!-- 정기결제 스케줄러 -->
    <update id="scheduler">
    UPDATE payment_regular
    SET 
    	payment_regular_tid = #{paymentRegularTid},
        payment_regular_end = 
            CASE 
                WHEN payment_regular_name IN ('파워 유저 정기 이용권(1달)', '프리미엄 모임 정기 이용권(1달)')
                    THEN ADD_MONTHS(#{paymentRegularEnd}, 1)
                WHEN payment_regular_name IN ('파워 유저 정기 이용권(1년)', '프리미엄 모임 정기 이용권(1년)')
                    THEN ADD_MONTHS(#{paymentRegularEnd}, 12)
            END
    WHERE payment_regular_no = #{paymentRegularNo}
</update>
	
    	<select id="sequence" resultType="int">
    		select payment_regular_seq.nextval from dual
    	</select>
    	
    	<!-- 결제 등록 
    	<insert id="insert">
    		insert into payment_regular(
    			payment_regular_no,payment_regular_member,
    			payment_regular_tid,payment_regular_sid,
    			payment_regular_name,payment_regular_price,
    			payment_regular_remain
    			)
    			values(
    			#{paymentRegularNo},#{paymentRegularMember},
    			#{paymentRegularTid},#{paymentRegularSid},
    			#{paymentRegularName},#{paymentRegularPrice},
    			#{paymentRegularRemain}
    			)
    	</insert>
    	-->
    	
    	<insert id="insert">
   		insert into payment_regular (
        payment_regular_no, payment_regular_member,
        payment_regular_tid, payment_regular_sid,
        payment_regular_name, payment_regular_price,
        payment_regular_remain, payment_regular_end,
        payment_regular_club_no
   		 )
    	values (
        #{paymentRegularNo}, #{paymentRegularMember},
        #{paymentRegularTid}, #{paymentRegularSid},
        #{paymentRegularName}, #{paymentRegularPrice},
        #{paymentRegularRemain}, 
        CASE 
            WHEN #{paymentRegularName} IN ('파워 유저 정기 이용권(1달)', '프리미엄 모임 정기 이용권(1달)')
            THEN ADD_MONTHS(SYSDATE, 1)
            WHEN #{paymentRegularName} IN ('파워 유저 정기 이용권(1년)', '프리미엄 모임 정기 이용권(1년)')
            THEN ADD_MONTHS(SYSDATE, 12)
        END,
        #{paymentRegularClubNo}
   		 )
		</insert>
    	
    	<!-- 결제 상세등록 -->
    	<insert id="insertDetail">
    		insert into regular_detail (
			regular_detail_no, regular_detail_origin, regular_detail_product,
			regular_detail_product_name, regular_detail_product_price, regular_detail_status
    		)
    		values(
    		regular_detail_seq.nextval, 
			#{regularDetailOrigin}, #{regularDetailProduct}, #{regularDetailProductName},
			#{regularDetailProductPrice}, '활성화'
    		)
    		</insert>
    		
    	
    		<!-- 결제 대표 목록 -->
    		<select id="list2" resultType="paymentRegularDto">
    			select * from payment_regular order by payment_regular_no asc
    		</select>
    		
    		<!-- 회원전체조회 -->
	    	 <select id="regularListAll" resultMap="paymentRegularListVO">
	    	select * from payment_regular
	    	<if test="paymentRegularMember != null">
	    	where payment_regular_member = #{paymentRegularMember}
	    	</if>
	    	order by payment_regular_no asc
	    	</select>
	    	
	    	<!-- 결제 상세정보를 조회(결제 대표번호별)  -->
    	<select id="regularListDetail" resultType="regularDetailDto">
    		select * from regular_detail
    		where regular_detail_origin = #{regularDetailOrigin}
    		order by regular_detail_no asc
    	</select>
    	
    	<!-- paymentRegular 상세조회 -->
    	<select id="regularFind" resultType="paymentRegularDto">
    		select * from payment_regular where payment_regular_no = #{paymentRegularNo}
    	</select>
    	
    	<!--regular_detail 상세조회 -->
    	<select id="regularSelectDetail" resultType="regularDetailDto">
    		select * from regular_detail where regular_detail_no = #{regularDetailNo}
    	</select>
    	
    	<!-- payment 잔여금액처리 -->
    	<update id="regularCancel">
    		update payment_regular
    		 set payment_regular_remain = #{paymentRegularRemain}
    		where payment_regular_no = #{paymentRegularNo}
    	</update>
    	<!-- regula_detail 취소처리 -->
    	<update id="regularCancelDetail">
    		update regular_detail
    		set regular_detail_status='비활성화'
    		where regular_detail_no = #{regularDetailNo}
    	</update>
    	
    	<!-- 특정 payment_regular_no에 속한 regular_detail에 대한 취소처리 -->
    	<update id="regularCancelDetailGroup">
    		update regular_detail
    		set regular_detail_status = '비활성화'
    		where regular_detail_origin = #{regularDetailOrigin}
    	</update>
    	
    	<resultMap type="PaymentRegularListVO" id="paymentRegularListVO">
    		<association property="paymentRegularDto">
    			<result column="payment_regular_no" property="paymentRegularNo"/>
    			<result column="payment_regular_member" property="paymentRegularMember"/>
    			<result column="payment_regular_tid" property="paymentRegularTid"/>
    			<result column="payment_regular_sid" property="paymentRegularSid"/>
    			<result column="payment_regular_name" property="paymentRegularName"/>
    			<result column="payment_regular_price" property="paymentRegularPrice"/>
    			<result column="payment_regular_remain" property="paymentRegularRemain"/>
    			<result column="payment_regular_time" property="paymentRegularTime"/>
    			<result column="payment_regular_begin" property="paymentRegularBegin"/>
    			<result column="payment_regular_end" property="paymentRegularEnd"/>
    			<result column="payment_regular_club_no" property="paymentRegularClubNo"/>
    		</association>
    		
    		<collection property="regularDetailList" select="regularListDetail" column="payment_regular_no"
    			javaType="java.util.List" ofType="PaymentRegularDto">
    			<result column="regular_detail_no" property="regularDetailNo"/>
    			<result column="regular_detail_origin" property="regularDetailOrigin"/>
    			<result column="regular_detail_product" property="regularDetailProduct"/>
    			<result column="regular_detail_product_name" property="regularDetailProductName"/>
    			<result column="regular_detail_product_price" property="regularDetailProductPrice"/>
    			<result column="regular_detail_product_qty" property="regularDetailProductQty"/>
    			<result column="regular_detail_status" property="regularDetailStatus"/>
    			</collection>
    	</resultMap>
    	 
    </mapper>