<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="product">
    	
    	<!-- 단건상품목록 -->
    	<select id="singleList" resultType="ProductDto">
    	select * from product
    	where product_type = '단건'
    	 order by product_no asc
    	</select>
    	<!-- 정기상품목록 -->
    	<select id="regularList" resultType="ProductDto">
    	select * from product 
    	where product_type = '정기'
    	order by product_no asc
    	</select>
    	
    	<select id="find" resultType="ProductDto">
    		select * from product where product_no = #{productNo}
    	</select>
    </mapper>