<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="wish">
    
    <insert id="add">
    
    	insert into wishlist(member_id,club_no) values(#{memberId},#{clubNo})
    
    </insert>
    
    <insert id="cancel">
    	
    	delete wishlist where member_id=#{memberId} and club_no=#{clubNo}
    
    </insert>
    
    <select id="doLike" resultType="int">
    SELECT count(*) FROM wishlist 
    w JOIN MEMBER m ON w.member_id = 
    m.MEMBER_ID WHERE m.MEMBER_ID =#{memberId} AND w.club_no=#{clubNo}
    </select>
    
    <select id="findAllByMemberId" resultType="WishlistVO">
    	select * from (
    		select rownum rn, TMP.* from(    		
		    	select distinct w.club_no, w.member_id, c.club_owner, c.club_premium, c.club_name, w.jjim_day from 
				wishlist w join club c on w.club_no = c.club_no and w.member_id != c.club_owner
				join club_member cm on w.club_no = cm.club_no and w.member_id != cm.CLUB_MEMBER_ID 
				where w.member_id = #{memberId}
				order by w.jjim_day desc
    		)TMP
		) where rn between 1 and 3
    </select>
    
    </mapper>