<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="zipcode">
	<insert id="add">
	insert into zip_code(
	zip_code_no,
	sido,
	sigungu,
	eupmyun,
	hdong_name
	) values(
	zip_code_seq.nextval,
	#{sido},
	#{sigungu},
	#{eupmyun},
	#{hdongName}
	)
	</insert>
	
	<select id="list" resultType="zipCodeDto">
	
		select * from zip_code
	
	</select>
	
	<select id="searchList" resultType="zipCodeDto">
	
	
        SELECT * FROM zip_code
        WHERE instr(sido, #{keyword})>0 
        OR instr(sigungu, #{keyword})>0 
        OR instr(eupmyun, #{keyword})>0 
        OR instr(hdong_name, #{keyword})>0  
   


	
	</select>
	
	<select id="selectListByPage" resultType="zipCodeDto">
		
		   select * from (
			        select rownum rn, TMP.* from (
			        select * from zip_code
			        WHERE instr(sido, #{keyword})>0 
        			OR instr(sigungu, #{keyword})>0 
        			OR instr(eupmyun, #{keyword})>0 
        			OR instr(hdong_name, #{keyword})>0
			        ) TMP
			    )
			    where rn between #{startRow} and #{finishRow}
	
	
	</select>
	
	<select id="selectOne" resultType="zipCodeDto">
		
		select * from zip_code where sido=#{sido} and 
		hdong_name=#{hdongName} and
		sigungu=#{sigungu} or
		eupmyun=#{eupmyun}
		
	</select> 
	
	<select id="selectByMember" resultType="zipCodeDto">
		
		SELECT zc.* FROM ZIP_CODE zc JOIN CLUB c ON zc.ZIP_CODE_NO=c.zip_code_NO WHERE c.CLUB_NO =#{clubNo}
	
	</select>
	
	
	<select id="selectByZipcodeNo" resultType="zipCodeDto">
		select * from zip_code where zip_code_no = #{zipCodeNo}
	</select>
		


</mapper>